.tarjetitaNuevo {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.frm-contacto {
    color: white;
    background-color: black;
    border-radius: 30px;
    width: 80%;
    padding: 50px;
    height: auto;
    margin: 40px auto; 
    box-shadow: 0 3px 10px rgba(119, 119, 119, 0.929);
}

.ttCSN {
    font-weight: 250;
    margin: 20px 0;
}

.btn-frm-contacto {
    padding: 12px;
    display: flex;
    background-color: #6B030A;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .btn-frm-contacto:hover {
    background-color: #6b030a27;
  }

.SeccionMateriales {
    margin: 50px;
}

h3 {
    text-align: center;
}

.material-lectura {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.btn-soyNuevo {
    flex: 1 0 200px;
    max-width: 200px;
    height: 60px;
    margin-bottom: 10px;

}
.btn-material{
    color: white;
    text-decoration: none;
}

.cardSoyNuevo {
    width: 100%;
    max-width: 300px;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.cardSoyNuevo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardSoyNuevo .btn-soyNuevo {
    position: relative;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cardSoyNuevo .btn-soyNuevo:hover {
    background-color: rgba(0, 0, 0, 0.7);

}

.bienvenida {
    margin-top: -0px;
    height: 80vh;
    background: url('./sembrar.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-innerBienvenida {
    padding: 20% 0;
    width: 50%;
    display: flex;
}

.ttBienv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 200;

    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}